<div class="main-wrapper" id="sidebar">
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">Main</li>
                    <li>
                        <a href="doctorprofile"><i class="fa fa-dashboard"></i> <span>Doctor Board</span></a>
                    </li>
                    <li>
                        <a href="nurseprofile"><i class="fa fa-dashboard"></i> <span>Nurse Board</span></a>
                    </li>
                    <li>
                        <a href="patientprofile"><i class="fa fa-dashboard"></i> <span>Patient Board</span></a>
                    </li>
                    <li>
                        <a href="receptionist-profile"><i class="fa fa-dashboard"></i> <span>Receptionist Board</span></a>
                    </li><li class="submenu">
                        <a><i class="fa fa-calendar-check-o"></i> <span>Appointment Recep</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <a href="viewappointment"><i class="fa fa-calendar-check-o"></i> <span>Appointments</span></a>
                            <a href="listappointment"><i class="fa fa-list-ul"></i> <span> Appointments List</span></a>
                        </ul>
                    </li>
                    <li>
                        <a ><i class="fa fa-dashboard"></i> <span>Receptionist</span></a>
                    </li>
                    <li>
                        <a href="adminprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="submenu">
                        <a><i class="fa fa-user-md"></i> <span> Doctor </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <a href="viewdoctor"><i class="fa fa-user-md"></i> <span>Doctor Crud</span></a>
                            <a href="doctorlistadmin"><i class="fa fa-list-ul"></i> <span> Doctor List</span></a>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a><i class="fa fa-wheelchair"></i> <span> Nurse </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <a href="viewnurse"><i class="fa fa-wheelchair"></i> <span>Nurse Crud</span></a>
                            <a href="nurselistadmin"><i class="fa fa-list-ul"></i> <span> Nurse List</span></a>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a><i class="fa fa-calendar-check-o"></i> <span> Receptionist </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <a href="viewrecep"><i class="fa fa-calendar-check-o"></i> <span>Receptionist Crud</span></a>
                            <a href="receplistadmin"><i class="fa fa-list-ul"></i> <span> Receptionist List</span></a>
                        </ul>
                    </li>
                    <li>
                        <a href="viewdepartment"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                    </li>
                    <li>
                        <a href="adminpayroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
                    </li>
                    <li>
                        <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
                    </li>
                    <li class="submenu">
                        <a ><i class="fa fa-cog"></i> <span> Settings </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <a href="adminsalary"><i class="fa fa-money"></i> <span>  Salary Settings</span></a>
                            <a href="adminpass"><i class="fa fa-lock"></i> <span>Change Password</span></a>
                            <a href="adminleave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>