body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.departments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
}

.card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.doctor-photo {
    width: 100%;
    height: auto;
    max-width: 100%; /* Adjust as needed */
    border-radius: 8px;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.card-info {
    margin-bottom: 10px;
}

.card-info h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.card-buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 10px; /* Space between buttons */
}

.card-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

.card-buttons button:hover {
    background-color: #0056b3;
}
