<div class="board mt-5">
    <header class="department mb-5 mt-3">
        <h1 style="color: darkslategray;">ALL DEPARTMENTS</h1>
    </header>
    <section class="departments">
        <div class="card">ANESTHESIOLOGY</div>
        <div class="card">CARDIAC & VASCULAR SURGERY</div>
        <div class="card">CARDIOLOGY (INTERVENTIONAL)</div>
        <div class="card">CHILD DEVELOPMENT</div>
        <div class="card">CLINICAL HEMATOLOGY</div>
        <div class="card">COLORECTAL & LAPAROSCOPIC SURGERY</div>
        <div class="card">DENTAL CARE, ORTHODONTICS & MAXILLOFACIAL SURGERY</div>
        <div class="card">DERMATOLOGY</div>
        <div class="card">DIET AND NUTRITION</div>
        <div class="card">ENDOCRINOLOGY</div>
        <div class="card">ENT, HEAD & NECK SURGERY</div>
        <div class="card">GASTROENTEROLOGY</div>
        <div class="card">GENERAL SURGERY</div>
        <div class="card">GYNE & GYNE ONCOLOGY</div>
        <div class="card">INTERNAL MEDICINE</div>
    </section>
</div>