<div class="container m-3">
    <h2>Student Details</h2> <br> <br>
    <form [formGroup]="formValue" (ngSubmit)="studentAdd()">       <!-- (ngSubmit)="studentAdd()" -->
        <div class="row">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="mb-3 col-md-6">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>

            <div class="mb-3 col-md-6">
                <label for="exampleInputEmail1" class="form-label">Cell</label>
                <input type="text" class="form-control" formControlName="cell">
            </div>

            <div class="mb-3" formGroupName="location">
                <label for="location" class="form-label">Location</label>
                <select id="location" formControlName="location" class="form-select">
                    <option *ngFor="let location of locations" [ngValue]="location.name">{{location.name}}</option>
                </select>
                <div class="invalid-feedback">Please select a Location</div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>