<div class="container m-5">
    <h2>Location Details</h2> <br> <br>
    <form [formGroup]="formVlaue">
        <div class="row">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="mb-3 col-md-6">
                <label for="exampleInputEmail1" class="form-label">City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>

            <div class="mb-3 col-md-6">
                <label for="exampleInputEmail1" class="form-label">State</label>
                <input type="text" class="form-control" formControlName="state">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Photo</label>
                <input type="text" class="form-control" formControlName="photo">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Units</label>
                <input type="text" class="form-control" formControlName="availableUnits">
            </div>

            <div class="mb-3 form-check">
                <label for="exampleInputEmail1" class="form-label">Wifi</label>
                <input type="checkbox" class="form-check-input" formControlName="wifi">
            </div>

            <div class="mb-3 form-check">
                <label for="exampleInputEmail1" class="form-label">Laundry</label>
                <input type="checkbox" class="form-check-input" formControlName="laundry">
            </div>
        </div>


        <button type="submit" class="btn btn-primary" (click)="locationCreate()">Submit</button>
    </form>
</div>