<div class="container">
    <h2 class="m-3">Show All Student</h2>
    <table class="table table-striped m-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Cell</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let student of students">

                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.cell}}</td>
                <td>{{student.location.name}}</td>
                <td>
                    <button class="btn btn-warning m-1"  (click)="studentUpdate(student.id)">Edit</button>
                    <button class="btn btn-danger m-1" (click)="studentDelete(student.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>